@charset "utf-8";

@font-face {
   font-family:'syne-bold';
   font-style: normal;
   font-weight: 700;
   src: url(fonts/Syne-Bold.woff2) format('woff2'),
	   	url(fonts/Syne-Bold.woff) format('woff');
}

html {
	scroll-behavior: smooth;
  }


body {
	font: 100%/1.4 Open Sans, Arial, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	
	color: #000;
}

p { text-transform: none;}

/* ~~ Element-/Tag-Selektoren ~~ */
ul, ol, dl { /* Aufgrund von Abweichungen zwischen verschiedenen Browsern empfiehlt es sich, die Auffüllung und den Rand in Listen auf 0 einzustellen. Zu Konsistenzzwecken können Sie die gewünschten Werte entweder hier oder in den enthaltenen Listenelementen (LI, DT, DD) eingeben. Beachten Sie, dass diese Angaben auch für die .nav-Liste gültig sind, wenn Sie keinen spezifischeren Selektor festlegen. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* Durch Entfernen des oberen Randes wird ein Problem vermieden, bei dem Ränder aus dem umgebenden Block entweichen. Der verbleibende untere Rand sorgt für den Abstand von allen folgenden Elementen. */
	padding-right: 0;
	padding-left: 0; /* Hinzufügen von Auffüllungswerten für beide Seiten jeweils enthaltener Blockelemente statt für die Blöcke macht Box-Modell-Berechnungen unnötig. Alternativ kann auch ein untergeordneter Block mit Auffüllung an den Seiten verwendet werden. */
}
a img { /* Dieser Selektor entfernt den standardmäßigen blauen Rahmen, der in einigen Browsern um ein Bild angezeigt wird, wenn es von einem Hyperlink umschlossen ist. */
	border: none;
}
/* ~~ Die Reihenfolge der Stildefinitionen für die Hyperlinks der Site, einschließlich der Gruppe der Selektoren zum Erzeugen des Hover-Effekts, muss erhalten bleiben. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* Sofern Ihre Hyperlinks nicht besonders hervorgehoben werden sollen, empfiehlt es sich, zur schnellen visuellen Erkennung Unterstreichungen zu verwenden. */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* Durch diese Gruppe von Selektoren wird bei Verwendung der Tastatur der gleiche Hover-Effekt wie beim Verwenden der Maus erzielt. */
	text-decoration: none;
}
/* ~~ Dieser Container fester Breite umgibt alle anderen Blockelemente. ~~ */


.grid-container {
  max-width: 100%;
  min-height: 98vh;
  height: 100%;
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  grid-template-rows: 1fr 19fr 1fr;
  grid-template-areas:
    "oben oben oben"
    "links mitte rechts"
    "unten unten unten";
  align-items: stretch;
  margin: 0;
}

.oben { grid-area: oben; min-height: 35px;}

.unten { grid-area: unten;  min-height: 35px;}

.links { grid-area: links;  min-width: 35px;}

.mitte { grid-area: mitte; }

.rechts { grid-area: rechts;  min-width: 35px;}

.links,.mitte, .rechts, .unten, .mitte{background-color:#fff}


.social{position:absolute; top: 94.1vh; left: 2.5vw; z-index:9999;}
.social div{ float: left; width: 8%; margin-right:8px; }
.social img{}

@media all and (-ms-high-contrast:none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 0.35fr 11fr 0.35fr;
    -ms-grid-rows: 0.75fr 11fr 1fr;
    
  }

  .oben {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .unten {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .links {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .mitte {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .rechts {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }

}




/* ~~ Mit diesem gruppierten Selektor werden die Listen im .content-Bereich angesprochen. ~~ */
ul, ol {
	padding: 0 15px 15px 40px; /* Diese Auffüllung setzt die rechte Auffüllung in der obigen Regel für Überschriften und Absätze fort. Die Auffüllung wurde unten für den Abstand zwischen anderen Elementen in den Listen und links für den Einzug angegeben. Sie können die Werte nach Bedarf ändern.  */
}

/* ~~ Stile für die Navigationslisten (können entfernt werden, wenn Sie ein vordefiniertes Ausklappmenü wie Spry verwenden) ~~ */
ul.nav {
	list-style: none; /* Hiermit wird die Listenmarkierung entfernt. */
	border-top: 1px solid #666; /* Hiermit wird der obere Rahmen für die Hyperlinks erstellt. Alle anderen werden mit einem unteren Rahmen im LI-Element platziert. */
	margin-bottom: 15px; /* Hiermit wird der Abstand zwischen den Navigationselementen und den darunter angeordneten Inhalten erstellt. */
}
ul.nav li {
	border-bottom: 1px solid #666; /* Hiermit wird die Trennung der Schaltflächen erstellt. */
}
ul.nav a, ul.nav a:visited { /* Durch Gruppieren dieser Selektoren wird sichergestellt, dass die Hyperlinks auch nach dem Aufrufen das Erscheinungsbild einer Schaltfläche beibehalten. */
	padding: 5px 5px 5px 15px;
	display: block; /* Hiermit werden die Blockeigenschaften für Hyperlinks angegeben, sodass das gesamte umschließende LI-Element ausgefüllt wird. Hiermit wird angegeben, dass der gesamte Bereich auf einen Mausklick reagiert. */
	width: 200px;  /*Mit dieser Breite reagiert die gesamte Schaltfläche in IE6 auf Mausklicks. Kann entfernt werden, wenn IE6 nicht unterstützt werden muss. Berechnen Sie die exakte Breite durch Subtrahieren der Auffüllung für diesen Hyperlink von der Breite des Containers für die Seitenleiste. */
	text-decoration: none;
	background-color: #C6D580;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* Hiermit wird der Hintergrund und die Textfarbe bei der Navigation mit der Maus und der Tastatur geändert. */
	background-color: #ADB96E;
	color: #FFF;
}

/* ~~ Verschiedene float/clear-Klassen ~~ */
.fltrt {  /* Mit dieser Klasse können Sie ein Element auf der Seite nach rechts schweben lassen. Das schwebende Element muss vor dem Element stehen, neben dem es auf der Seite erscheinen soll. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* Mit dieser Klasse können Sie ein Element auf der Seite nach links schweben lassen. Das schwebende Element muss vor dem Element stehen, neben dem es auf der Seite erscheinen soll. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* Diese Klasse kann einem <br />-Tag oder einem leeren Blockelement als abschließendes Element nach dem letzten schwebenden Block (innerhalb von .container) zugewiesen werden, wenn die Fußzeile entfernt oder aus .container verschoben wird. */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*Unterstützung für HTML 5 - Legt für die neuen HTML 5-Tags die Eigenschaft "display:block" fest, damit die Tags in den Browsern korrekt dargestellt werden. */
header, section, footer, aside, article, figure {
	display: block;
}

img {
  max-width: 100%;
  height: auto;
}

/* #sev-hgimg; */ 
.mitte_1{
    width:100%; height:auto; margin: 0; z-index:3; 
    background: rgb(0,0,255) url(img/sev_bg_start.png) repeat; 
	animation: mitte_1 96s linear infinite;
    background-size: calc(100% + 2vw);
	}
@keyframes mitte_1{
	from { background-position: 0px 0px }
	to { background-position: 1280px 0px }
}

.mitte_2{
	width:100%; height:100%; margin:0; z-index:4;  
    background: transparent url(img/sev_bg_start_y.png) repeat;
    animation: mitte_2 124s linear infinite;
	background-size: calc(90% + 2vw);
    }
@keyframes mitte_2{
	from { background-position: 0px 0px }
	to { background-position:  0px -1280px}
}
	
#sev-logo {
	position: absolute;
	top: 25px;
	left: calc(38% + 2vw);
	width: calc(12% + 2vw);
	height: 100%;
	margin: 0 auto;
	z-index: 2;
	background: url(img/sev_logo.png) no-repeat;
	background-size: 100%;
	background-position: top center;
	right: calc(38% + 2vw);
}

#sev-willkommen {
	position: absolute;
	top: 30%;
	left: 9.5%;
	width: 100%;
	height: 100%;
	margin: 0;
	background: url(img/willkommen.png) no-repeat;
	z-index: 3;
	background-position-x: 130%;
	background-position-y: 0;
	background-size: 180%;
	/* clip: rect(0 1500px 580px 48px);*/
	clip-path: inset(0 0 30vh 0vw);
}

#sev-startxt{position:absolute;  top: 45%; left: calc(100% - 79%); width:56%; height:auto; margin:0; z-index:4;}

.sev-startxt{font-size:1.5vw; color:#fff; text-align:center; font-family:'Syne-Bold';}
.sev-startxt2{font-size:1.0vw; color:#fff; text-align:center; font-family:'Syne-Bold';}
#content {
	position: absolute;
	top: 106vh;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

.content{width:56%; margin: 0 auto;}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6{text-transform:uppercase; color:#1d1d1b ;}

.menu a{padding: 15.5px 7px; text-align:center; display: block; background-color:#1d1d1b; color:#fff; }
.menu a:hover{opacity:0.8; }

/* MEDIA */ 

@media all and ( max-width: 480px ) and ( orientation:portrait ){
	
	.grid-container { max-width: 100%; }
	#sev-logo { width: 38%; left: 32vw; }
	.mitte_2 { width: 100%; height: 100%; margin: 0; }

	#sev-startxt { left: 15px; width: 90%; top: 40%; }
	.sev-startxt { font-size: calc(18px + .4vw); }
	#sev-willkommen { top: 30%; background-position-x: 115%; background-size: 205%;}
	
}

@media all and ( max-height: 480px ) and ( orientation:landscape ){
	#sev-startxt { left: calc(100% - 94%); width: 90%; }
	.sev-startxt { font-size: calc(18px + .4vw); }
	
}
/* MEDIA ENDE */



/* SCROLL DOWN */


.home_scroll a {
  position: absolute;
  bottom: -70px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 17px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.home_scroll a:hover {
  opacity: .5;
}

#welcome a {
  padding-top: 50px;
}
#welcome a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -24px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#welcome a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#welcome a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
      opacity: 1;
     
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
   
  }
  100% {
      opacity: 0;
     
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



